{% extends "base.html" %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
      <h2>Time to set a goal –– remember to aim high!</h2>
  
        <br />
  
      <p>How much <b>CA$H</b> would you like to have?</p>
  
      <form method = "POST">
        <input id="balance-amount" name="amount" type="text" class="span3" placeholder="ex. 1000" />
        <input id="balance-submit" name="balance-submit" type="submit" class="btn btn-primary" />
      </form>
      
      
  
    </div>
    
    <p><small>Next up: entering recent income &amp; expenses..</small></p>

  </div>
  


{% endblock %}
