{% extends "base.html" %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
      <h2>Setup – let's get started!</h2>
  
        <br />
  
      <p>In order to start tracking the amount of money you have, first enter how much available cash you have right now.</p>
  
      <form method = "POST">
        <input id="balance-amount" name="amount" type="text" class="span3" placeholder="ex. 0,00&euro;" />
        <input id="balance-submit" name="balance-submit" type="submit" class="btn btn-primary" />
      </form>
  
    </div>

  </div>
  


{% endblock %}
