<!DOCTYPE html>
<html lang="en">
  
  <head>
  <title>GoCast</title>  
  
  {% block style %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-responsive.css')}}">

  {% endblock %}
  
  {% block script %}
  {% endblock %}

  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">GoCast</a>
              <div class="nav-collapse">
                <ul class="nav">
                  {% block navbar %}
                  
                  {% endblock %}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container">

          <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            
            {% block content %}
                
            {% endblock %}
            
          </div>

          <hr>

          <footer>
            <p>&copy; GoCast at AaltoES <a href="http://aaltoes.com/build-it/">Build It.</a> 2012</p>
          </footer>

        </div> <!-- /container -->
    
  </body>
  
</html>