{% extends "base.html" %}

{% block script %}
	{{ super() }}
	<script src = "{{url_for('static', filename = 'js/libs/bootstrap/bootstrap-modal.js')}}">
    </script>
    <script src = "{{url_for('static', filename = 'js/libs/bootstrap/bootstrap-twipsy.js')}}">
    </script>
    <script src = "{{url_for('static', filename = 'js/libs/bootstrap/bootstrap-popover.js')}}">
    </script>
    <script src = "{{url_for('static', filename = 'js/libs/bootstrap/bootstrap-tabs.js')}}">
    </script>
    <script src = "{{url_for('static', filename = 'js/libs/jquery/jquery.tagsinput.min.js')}}">
    </script>
	<script src = "{{url_for('static', filename = 'js/appIdea/home.js')}}"></script>
{% endblock %}

{% block content %}
<div class = "span2">
	<div id = "profile"></div>

	<div id = "side-menu">
		<ul>
			<li> Messages </li>
			<li> SMT </li>
		<ul>
	</div>

	<div id = "gamification">
		<ul>
			<li> comparation with friends </li>
			<li> </li>
		<ul>
	</div>
	<div id = "tags">
		<p> Tags, tags,tags, tags, tags</p>
	</div>

</div>
<div class = "span8">
	<ul class="tabs" data-tabs="tabs">
        <li class="active">
            <a href="#home">My ideas</a>
        </li>
        <li>
            <a href="#feed">My feeds</a>
        </li>
        <li>
            <a href="#messages">My messages</a>
        </li>
        <li>
            <a href="#settings">My settings</a>
        </li>
        <li class="dropdown" data-dropdown="editings">
          <a href="#" class="dropdown-toggle">Editings</a>
          <ul class="dropdown-menu">
            <li><a href="#fat">@fat</a></li>
            <li><a href="#mdo">@mdo</a></li>
          </ul>
        </li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="active tab-pane" id="home">
        	<div id = "idea-container">
        		<div id = "idea-menu">
        			<a href = "#addNew"> new </a>| sort | filter
        		</div>
        		<div id = "idea-editor-modal" class = "modal" style = "display:none"> 
        			<!-- Will hold html content of idea-editor -->
        		</div>
        		<div id = "idea-list">
                    &nbsp;
        			<!-- content by template -->
        		</div>
        	</div>
        </div>  <!-- end of 1tab -->

        <!-- tab content -->
        <div class = "tab-pane" id = "feed">
                here will be feeds
        </div> <!-- end of tab container -->

        <!-- tab content -->
        <div class = "tab-pane" id = "messages">
            here will be messages
        </div> <!-- end of tab container -->

        <!-- tab content -->
        <div class = "tab-pane" id = "settings">
            here will be user settings
        </div> <!-- end of tab container -->

        <div class = "tab-pane" id = "fat">
            Example editing form
        </div>
    </div>

</div>

{% endblock %}

{% block template %}
	<script type = "text/template" id = "profile-template">
		<img class="thumbnail" src="http://placehold.it/100x80" alt="" />
		<dl>
			<dt><%= user.name %></dt>
			<dd>
				<a href = "<%= user.social.link %>" target="_blank">FB profile</a>
			</dd>
			<dd> smt2 </dd>

			<dt> Stats </dt>
			<dd> 
				ideas: <a href = "#show-ideas"><%= user.stats.ideas %></a>
			</dd>
			<dd> 
				investments: <a href = "#show-investments" ><%= user.stats.investments %></a>
			</dd>
			<dd>
				upvotes : <a href = "#show-upvotes"><%= user.stats.upvotes %> </a>
			</dd>
		</dl>
	</script>

	<script type = "text/template" id = "idea-list-template">
		<% if(_.isUndefined(ideas) || ideas.length == 0){ %>
			<p>Click add-button to start new future.</p>
		<% } else { %>
			<% _.each(ideas, function(item){ %> 
				<div class = "idea-item">
					<div class = "idea-item-menu">
                        <a href = "#idea/upvote">upvote </a> |
                        <a href = "#idea/edit">edit</a> |
                        <a href = "#idea/branch">branch </a>

                        <div style = "float:right;">
                            <% var cur = new Date().toDateString() %>
                            <% if(!(_.isUndefined(item.added))){ %> 
                            <% cur = new Date(item.added["$date"]).toDateString(); } %>
                            <%= cur %>

                        </div>
                    </div>
					<div class = "idea-item-content" >
						<p><strong><%= item.punchline %></strong></p>
						<p><%= item.content %> </p> 
                        &nbsp;
                        <div class = "idea-context-menu">
                            <% var stat_content =  "<p><strong>Upvotes:</strong>" + item.stats.upvotes + "</p>" %>
                            <% stat_content += "<p><strong>Investments:</strong>" + item.stats.upinvestments +"</p>"; %>
                            <a href = "#" class = "small" rel = "popover" title = "Statistics" 
                                data-content = "<%= stat_content %>"
                                >Stats</a> |
                            <a href = "#">More</a>
                        </div>   
					</div>
                    <div>
                        
                    </div>
				</div>
			<% }); %>
		<% } %>
		
	</script>

	<script type = "text/template" id = "tags-template">

	</script>

<!-- IDEA EDITIR -->
<!-- IDEA ITEM EDITING template-->
<script type = "text/template" id = "idea-editor-template">
    <div id = "idea-editor" class= "">
        <div class = "modal-header">
            <h3> Idea editor </h3>
        </div>
        <div class = "edit modal-body">
            <form method = "GET" onSubmit = "return false;">
                <fieldset class = "stacked">

                    <div class = "clearfix">
                        <label for = "is_private">Visibility</label>
                        <div class = "input">
                            <ul class = "inputs-list">
                                <% var vis = 0; %>
                                <% if(!(_.isUndefined(visibility))){ vis = parseInt(visibility);} %>
                                <li>
                                    <label>
                                        <input type = "radio" 
                                        <%= ( vis > 0 ) ? 'checked = "checked"' : ''  %>
                                        name = "visibility" id = "visibility" class = "idea-input" 
                                        value = "1" />

                                        <span>Public - everyone can help to develop this idea </span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type = "radio" name = "visibility" 
                                        id = "visibility" class = "idea-input" 
                                        value = "0" <%= ( vis === 0)? 'checked = "checked"'  : '' %> />
                                        <span >
                                            Private - select if you little a bit be shy about your idea.
                                        </span>

                                    </label>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class = "clearfix">
                        <label for  = "punchline">Punchline: </label>
                        <div class = "input">
                            <input name = "punchline" id = "punchline" class = "idea-input xlarge" type = "text" 
                            value = "<%=  (_.isUndefined(punchline)) ? '' : punchline %>" />
                        </div>
                    </div>
                    <div class = "clearfix">
                        <label for = "content">Content: </label>
                        <div class = "input">
                            <textarea name = "content" id = "content" class = "idea-input span6" row = "7"><%= (_.isUndefined(content) ? "" : content) %>
                            </textarea>
                             <span class = "ui-tooltip-top" style = "display:none;">
                                Add content.
                            </span>
                        </div>
                    </div>
                    <div class = "clearfix">
                        <label for = "tags">Tags: </label>
                        <div class = "input">
                            <input type = "text" name = "tags"  id = "idea-tags" 
                            	class = "idea-input" 
                            	value = "<%= (!(_.isUndefined(tags)) ? tags : '' )%>" />

                        </div>
                    </div>
                    <div class = "editor-feedback"></div>
                    <div class = "actions modal-footer">
                        <button class = "btn  btn-close" >Close</button>
                        <button class = "btn primary  btn-save" >Submit</button>
                    </div>
            </fieldset>
        </form>
        </div>
   
    </div>
</script>
{% endblock %}