{% extends "base.html" %}

{%block script%}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/chart2.js')}}"></script>
{% endblock %}

{% block content %}
  <div id="chart2"></div>
  <div class="row">
    <div class="span4 offset2"><table class="arrows">
    <tr>
      <td>
        <p class="positive centered down-unoeight-pix"><span class="big">10</span> <br /><br />days left</p>
      </td>
      <td>
        <img src="static/img/arrow_positive.png" />
      </td>
      <td>
        <p class="positive down-deuceuno-pix">+35%</p>
      </td>
  </table>  
  </div>
</div>

  <hr />

  <div><p class="centered"><a class="btn btn-primary btn-large" href="/transactions">Add a transaction</a></p></div>
  
  
    
{% endblock %}