{% extends "base.html" %}
{% block script %}
    {{ super() }}
    <script src = "{{url_for('static', filename = 'js/libs/bootstrap/bootstrap-modal.js')}}">
    </script>
    <script src = "{{url_for('static', filename = 'js/appIdea/idea.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/libs/jquery/jquery.tagsinput.min.js')}}">
    </script>
   
{% endblock %}

{% block content %}
    
<div id = "idea-content" class = "row well-white">
    <div id = "idea-view" class = "span8 well-white"> 
        <div class = "buffer-area"  style = "margin-top:30px;">&nbsp;</div>
        <div id = "idea-menu" class = "well">
            <ul class = "nav">
                <li>
                    <button class = "btn new"> New </button>
                </li>
                <li>
                    <button class = "btn sort">Sort </button>
                </li>
                <li>
                    <button class = "btn filter"> Filter </button>
                </li>

        </div>
        <div id = "idea-item-edit" class = "modal" style = "display:none"> </div>
        <div id = "idea-list" class = ""> </div>

    </div>
    <div id =  "chat-view" class = "span3 well-white">
        <div id = "chat-item" class = "" >
            <h5 class = "tab">Feeds</h5>
            <dl>
                <dt> Author1:</dt>
                <dd>Chat .... </dd>
                <dt>Author1</dt>
                <dd>Chat 2 .... </dd>
                <dt>Author2</dt>
                <dd>Chat 3 ... </dd>
            </dl>
        </div>
    </div>
    <!-- button builder -->    
<script>
$(function(){
    //button builder for menu buttons
    $.buildButtons = function(){
            $(".btn").each(function(id,btn){
                var icon = $(this).attr('icon');
                // $(this).removeClass(icon);
                if(icon){
                    $(this).button({icons: {primary : icon}, });
                }
            });
        }
    $.buildButtons();

});

</script>


</div>

{% endblock %}

{% block template %}

<!-- MAIN MENY TEMPLATE -->
<script type = "text/template" id = "idea-menu-template">
            
</script>

<!-- ITEM TEMPLATE -->
<script type = "text/template" id = "item-template">
    <div class = "idea-item">
        <!-- Here will be template generator build content editor forms -->
        <div class = "idea-item-menu row">
            <div class = "social-menu">
                <ul class = "nav">
                    <li>
                    <button icon = "ui-icon-check" class = "btn small upvote" title = "Upvote it.">
                        Upvote <%= (!(_.isUndefined(stats.upvotes))) ? '(' + (stats.upvotes) +')' : '' %>
                    </button>
                    </li>
                    <li>
                    <button icon = "ui-icon-star" title = "Follow it." class = "btn small follow">
                        Follow <%= (!(_.isUndefined(stats.follows))) ? '(' + (stats.follows) + ')' : ' ' %>
                    </button>
                    </li>

                    <li>
                    <button icon = "ui-icon-mail-closed" title = "Share it." class = "btn small share">
                     Share <%= (!(_.isUndefined(stats.shares))) ? '(' + (stats.shares) + ')' : '' %>
                    </button>
                    </li>
                    <li>
                    <button icon = "ui-icon-image" title = "Start hangout" class = "btn small hangout">
                    Hangout <%= (!(_.isUndefined(stats.hangouts))) ? '(' + (stats.hangouts) + ')' : ' '  %>
                    </button>
                    </li>
                     <li>
                     <button icon = "ui-icon-cart" title = "Invest into" class = "btn small invest">
                     Invest  <%= (!(_.isUndefined(stats.investments))) ? '(' + (stats.investments) +')' : ' ' %>
                     </button>
                    </li>
               
                </ul>
            </div>
            <div style = "float:right;">
                <%  var currentDate = new Date().toDateString(); %>
                <% if(!(_.isUndefined(added))){currentDate = new Date(added["$date"]).toDateString();} %>
                <span class = "info">
                    <%= currentDate %>
                </span>
            </div>
        </div>
        <div class = "idea-item-text-container">
            <div class = "idea-item-text">
                <p><strong> Punchline</strong></p>
                <p>
                <%= punchline %>
                </p>
            </div>
            <div class = "idea-item-text">
                <%= content  %>
            </div>
        </div>
        <div class = "idea-item-context row">
            <div class = "item-context-content span5">
               <p>
                <a href = "#">
                    <strong> <%= (!(_.isUndefined(author))) ? author : 'Anonymous'  %> </strong>
                </a>
               </p>
                
            </div>
            <!-- content menu -->
            <div class = "content-menu">
                <ul class = "nav">
                    <li>
                    <button class = "btn small edit-this" icon = "ui-icon-pencil" title = "Edit it.">
                        Edit
                    </button>
                    </li>
                    <li>
                        <button class = "btn small translate-this" icon = "ui-icon-document-b" title = "Translate it.">
                          Translate
                        </button>
                    </li>

                    <li>
                        <button class = "btn small tag-this" icon = "ui-icon-tag" title = "Taggify it.">
                            Tag         
                        </button>
                    </li>
                    <li>
                        <button class = "btn small flag-this" icon = "ui-icon-flag" title = "Flag as malformed..">
                            Flag
                        </button>
                    </li>

                
                </ul>
            </div>

        </div>
</div>
</script>

<!-- IDEA ITEM EDITING template-->
<script type = "text/template" id = "item-edit-template">
    <div id = "idea-item-editor" class= "">
        <div class = "modal-header">
            <h3> Idea editor </h3>
        </div>
        <div class = "edit modal-body">
            <form method = "GET" onSubmit = "return false;">
                <fieldset class = "stacked">

                    <div class = "clearfix">
                        <label for = "is_private">Visibility</label>
                        <div class = "input">
                            <ul class = "inputs-list">
                                <% var vis = 0; %>
                                <% if(!(_.isUndefined(visibility))){ vis = parseInt(visibility);} %>
                                <li>
                                    <label>
                                        <input type = "radio" 
                                        <%= ( vis > 0 ) ? 'checked = "checked"' : ''  %>
                                        name = "visibility" id = "visibility" class = "idea-input" 
                                        value = "1" />

                                        <span>Public - everyone can help to develop this idea </span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type = "radio" name = "visibility" 
                                        id = "visibility" class = "idea-input" 
                                        value = "0" <%= ( vis === 0)? 'checked = "checked"'  : '' %> />
                                        <span >
                                            Private - select if you little a bit be shy about your idea.
                                        </span>

                                    </label>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class = "clearfix">
                        <label for  = "punchline">Punchline: </label>
                        <div class = "input">
                            <input name = "punchline" id = "punchline" class = "idea-input xlarge" type = "text" 
                            value = "<%=  (_.isUndefined(punchline)) ? '' : punchline %>" />
                        </div>
                    </div>
                    <div class = "clearfix">
                        <label for = "content">Content: </label>
                        <div class = "input">
                            <textarea name = "content" id = "content" class = "idea-input span6" row = "7"><%= (_.isUndefined(content) ? "" : content) %>
                            </textarea>
                             <span class = "ui-tooltip-top" style = "display:none;">
                                Add content.
                            </span>
                        </div>
                    </div>
                    <div class = "clearfix">
                        <label for = "tags">Tags: </label>
                        <div class = "input">
                            <input type = "text" name = "tags"  id = "tags" class = "idea-input span6" value = "<%= (!(_.isUndefined(tags)) ? tags : '' )%>"/>

                        </div>
                    </div>
                    <div class = "editor-feedback"></div>
                    <div class = "actions modal-footer">
                        <button class = "btn  btn-close" >Close</button>
                        <button class = "btn primary  btn-save" >Submit</button>
                    </div>
            </fieldset>
        </form>
        </div>
        <script>
            $(function(){
                $('#tags').tagsInput();
            });
        </script>   
    </div>
</script>

<!-- STATS TEMPLATE -->
    <script type="text/template" id = "stats-template">
        <!-- -->
        <h3>Stats template</h3>
    </script>

<!-- feedback template -->
<script type = "text/template" id = "feedback-template">
    <div class="alert-message <%= result %>">
        <p> <%= message %> </p>
    </div>

</script>
{% endblock %}
