{% extends "base.html" %}

{% block content %}    
<!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit"> 
    <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/showcase.png')}}"></p>
      
    <p class="centered"><b>4Cash</b> is a mobile app that helps you <b>get motivated</b> to <b>save money</b> by showing the <b>effects of your spending behavior</b> in real time.</p>

  
    <p class="centered"><a class="btn btn-primary btn-large supalarge" id="get_started_button" href="/balance">Get started! &raquo;</a></p>
    
    
</div>

{% endblock %}