{% extends "base.html" %}

{% block content %}    
    <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/showcase.png')}}"></p>
      
    <p class="centered"><b>4Cash</b> is a mobile app that <b>motivates consumers to save money</b><br /> by visualizing the journey towards reaching an investment goal.</p>

  
    <p class="centered"><a class="btn btn-primary btn-large supalarge" id="get_started_button" href="/balance">Get started! &raquo;</a></p>

{% endblock %}