{% extends "base.html" %}

{% block script %}

  {{super()}}

{% endblock %}

{% block content %}
<div id = "navbar_salary">
  <h2>Salary</h2>
  
    <br />
  <p>How much money do you earn each month?</p>
  
  <form method = "POST">
    <label>Amount of money</label>
    <input name="salary_amount" type="text" class="span3" placeholder="ex. 0,00&euro;" />
    
    <label for ="salary_date" >Date of salary payment</label>
    <input name="salary_date" type="text" class="datefield span3" placeholder="ex. 1.1.2012" />
    <br />
    <input id="salary-submit" type="submit" class="btn btn-primary" />
  </form>
</div>
{% endblock %}