{% extends "base.html" %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
      <h2>Meet the team!</h2>
        
        <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/scrumboard.jpg')}}"></p>
  <p>The scrumboard, Saturday night</p></div>
        
        
        <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/maria.jpg')}}"></p>
  <p>Maria: graphics</p>
  </div>
  
  <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/hotloo.jpg')}}"></p>
  <p>Hotloo: machine-learning algorithm (Python)</p>
  </div>
  
  <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/tim.jpg')}}"></p>
  <p>Tim: backend (Python, Flask, MongoDB..)</p></div>
  
  <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/timo.jpg')}}"></p>
  <p>Timo: frontend (HTML, CSS, JavaScript..), responsive UX, analytics, etc. </p></div>
    
  <div id="showcase">
  <p class="centered"><img class="showcase-img" src="{{url_for('static', filename = 'img/photos/code.jpg')}}"></p></div>  
    
    
    
    <div><p>4Cash was created in AaltoES Build It. Summer 2012 by Maria, Hotloo, Tim &amp; Timo.</p></div>

  </div>
  
{% endblock %}
