{% extends "base.html" %}


{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
  <h2>Transactions</h2>
  
    <br />
  <div id="form-container">
    <p>Start adding expenses or income!</p>
  
    <form method = "POST">

      <label>Date of expense / income</label>
      <input name="datefield" id="transactions-date" class="input-large datefield" type="text">
      
      <label>Amount of money spent / earned</label>
        <p style="float:left;">&dollar; &nbsp;</p>
      <input name="amount" id="transactions-amount" type="text" 
          class="input-large" value = "0" placeholder="ex. 0.00">
      <div style="float:clear;"></div>
    
      <label>Quick add amount</label>
      <div class="btn-toolbar" id="quick_add-btn_grp">
        <div class="btn-group">
          <button id="button-sign" class="btn btn-primary">+/-</button>
          <button id="button-add_one" class="btn quick_add-number_button btn-primary" >+1</button>
          <button id="button-add_five" class="btn quick_add-number_button btn-primary" >+5</button>
          <button id="button-add_ten" class="btn quick_add-number_button btn-primary" >+10</button>
          <button id="button-add_fifty" class="btn quick_add-number_button btn-primary" >+50</button>
        </div>
      </div>
      
      <label>Category</label>
      <select name = "category" id="category-select">
        <option value="3">Scheduled</option>
        <option value="2">Other</option>
        <option value="0" selected="selected">Groceries</option>
        <option value="1">Entertainment</option>
      </select>
      
      <label>Recurring</label>
      <input name = "recurring" type="checkbox" id="recurring-checkbox" value="1" />
      
      <div id="recurring-group">
        <label>Recurrence</label>
        <input name = "recurrence-freq" id="recurrence-amount" type="text">
      
        <label>Times per</label>
        <select name = "recurrence-unit" id="recurring-times-per-select">
          <option value="0">week</option>
          <option value="1" selected="selected">month</option>
          <option value="2">quarter</option>
          <option value="3">year</option>
        </select>
      
        <label>This transaction will recur</label>
        <input name = "recurrence-amount" id="recurrence-amount" type="text">
        <label>..times</label>
      </div>
    
      
      <br />
        <button id="transactions-submit" type="submit" class="btn btn-primary btn-large ">Submit</button>
    </form>
  </div>

</div>

{% endblock %}