/*

	MAIN STYLE FILE FOR GOCAST.HEROKUAPP.COM
	
	NO COLORS HERE, USE colors.css FOR THAT!
	
	by Timo H. // 2012 

*/

	/* UNIVERSAL STYLES */

.middle {
	vertical-align:middle;
}

.positive {
	color: #00a0c1 !important;
}

.negative {
	color: #5d3281 !important;
}

.arrows {
	font-size: 1.5em;
	margin-bottom:50px;
}

.big {
	font-size:430% !important;
}

.down-unoeight-pix {
	position: relative;
	top: 1.8em;
}

.down-deuceuno-pix{
	position: relative;
	top: 21px;
}

.below {
	overflow: visible;
	position: relative;
	top: 65px;
	left: -120px;
}


#transactions-amount {
	width:13em !important;
}

#transactions-date, #transactions-submit {
	max-width:8em !important;
}

#chart1 {
	min-width: 400px; 
	height: 400px; 
	margin: 0 auto;
}

.centered {
	text-align:center;
}

#navbar_brand-button{
	padding:0;	
	margin:0;
	margin-top:4px;
	margin-right:5%;
}

footer {
	margin-left:5%;
}

footer p {
	margin-left:5%;
}

footer > hr {
	max-width:45em;
	width: 35%;
}

	/* --- UNIVERSAL STYLES END --- */


	/* LARGE SCREENS: SIZES LARGER THAN 980px */
@media (min-width: 980px){
	body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	}

	.showcase-img{
		max-width:780px;
		margin-top:10px;
		margin-bottom:30px;
	}
	
			/* MAKE LANDING PAGE BUTTON EVEN LARGER */
	.supalarge {
		width:30%;
		padding: 20px 32px;
		font-size: 26px;
		position:relative;
		bottom: 180px;
	}

	#hero-landing {
		margin-top:-180px;
		padding-top:22px;
		padding-bottom:10px;
	}
	
}

@media (min-width:601px) and (max-width:979px)  {
	.supalarge {
		width:40%;
		padding: 20px 32px;
		font-size: 26px;
		position:relative !important;
		bottom: 125px !important;
	}
	
	#hero-landing {
		margin-top:-110px;
		padding-top:22px;
		padding-bottom:10px;
	}
}	

/* MEDIUM SIZED SCREEN SIZES BETWEEN 500px and 980px*/

@media (min-width:501px) and (max-width:600px)  {
	.supalarge {
		width:60%;
		position:relative !important;
		bottom: 90px !important;
	}
	
	#hero-landing {
		margin-top:-69px;
		padding-top:22px;
		padding-bottom:10px;
	}
}

/* iPHONE & OTHER SCREEN SIZES SMALLER THAN 500px */
@media (max-width: 500px){
	.hero-unit {
	        padding: 25px;
	}
	
	#chart1, #chart2 {
		margin-top:-15px;
		padding: 0px !important;
		height:33% !important;
		margin-left:-50px !important;
		width:120% !important;
	}
	
	.supalarge {
		width:45%;
		position:relative !important;
		bottom: 66px !important;
	}
	
	#hero-landing {
		margin-top:-56px;
		padding-top:22px;
		padding-bottom:10px;
	}
}

