/*

	MAIN STYLE FILE FOR GOCAST.HEROKUAPP.COM
	
	COLORS:
		light blue: 				#00a0c1
		dark blue: 					#004769
		extra dark blue: 		#00132d
		violet: 						#bb41b8
		dark violet:				#5d3281

*/


@media (min-width: 980px){
	body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	}
}

@media (max-width: 500px){
	.hero-unit {
	        padding: 10px;
	}
	
	#chart1 {
		margin-left:-60px !important;
		padding: 0px;
		width:115%;
	}
}

body {
	background-color: #00132d; /* extra dark blue */
}

/* CHANGE THE SHOWCASE BOX INTO LIGHT BLUE */
.hero-unit{
	background-color: #00a0c1; /* light blue */
}

/* HERO UNIT HEADER COLOR TO WHITE */
.hero-unit h1, .hero-unit h2, .hero-unit h3, .hero-unit h4, .hero-unit h5 {
	color: #fff; /* white */
}

/* CHANGE THE NAVBAR GRADIENT INTO VIOLET

	violet: #bb41b8
	dark violet: #5d3281

*/

.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -ms-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bb41b8), to(#5d3281));
  background-image: -webkit-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -o-linear-gradient(top, #bb41b8, #5d3281);
  background-image: linear-gradient(top, #bb41b8, #5d3281);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

/* COLORING OF THE SELECTED NAVBAR ITEM TO DARK VIOLET */

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  background-color: #5d3281; /* dark violet */
}

/* BRAND (logo text) COLOR TO WHITE */
.navbar .brand {
  color: #fff; /* white */ 
}

/* NAVBAR LINKS TO WHITE, BLUE ON HOVER */
.navbar .nav > li > a:hover {
  color: #00a0c1;
}

.navbar .nav > li > a {
  color: #fff;
}

/* NAVBAR BACKGROUND TO DARK VIOLET ON HOVER*/
.navbar .nav .active > a:hover {
  color: #ffffff;
  background-color: #5d3281; //
}

/* MAKE THE PRIMARY BUTTON COLORS THE SAME AS THE NAVBAR */
/* ORIGINAL COLORS:
		1: #0088cc //grandient 1
		2: #0055cc //grandient 2
		3: #0074cc //bg 1
		4: #0055cc //bg 2
		
	NEW COLORS:
		1: #bb41b8
		2: #5d3281
		3:
		4:


*/

.btn-primary {
  background-color: #bb41b8;
  *background-color: #5d3281;
  background-image: -ms-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bb41b8), to(#5d3281));
  background-image: -webkit-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -o-linear-gradient(top, #bb41b8, #5d3281);
  background-image: -moz-linear-gradient(top, #bb41b8, #5d3281);
  background-image: linear-gradient(top, #bb41b8, #5d3281);
  background-repeat: repeat-x;
  border-color: #5d3281 #5d3281 #bb41b8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#bb41b8', endColorstr='#5d3281', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* SET BOLDED TEXT IN HERO UNIT TO GREY COLOR */
.hero-unit b, .hero-unit strong {
	color: #ddd; /* grey */
}

.centered {
	text-align:center;
}

.showcase-img{
	margin-top:10px;
	margin-bottom:30px;
}

/* SET FOOTER TEXT COLOR TO WHITE */
footer p {
	color: #fff; /* white */
}